COMPOSE_PROJECT_NAME=gitlab-stack
INSTALL_MODE=online

GITLAB_IMAGE=gitlab/gitlab-ce:19.1.1-ce.0
RUNNER_IMAGE=gitlab/gitlab-runner:alpine-v19.1.1
POSTGRES_IMAGE=postgres:17.10-bookworm

GITLAB_HOSTNAME=gitlab.example.com
GITLAB_EXTERNAL_URL=http://gitlab.example.com
GITLAB_HTTP_PORT=80
GITLAB_SSH_PORT=2222

# Small deployment tuning. For an 8 GB host, use 1 and 5.
GITLAB_PUMA_WORKERS=2
GITLAB_SIDEKIQ_CONCURRENCY=10

# Used by scripts/register-runner.sh
RUNNER_DESCRIPTION=rocky9-docker-runner
RUNNER_DEFAULT_IMAGE=alpine:3.23
RUNNER_CONCURRENT=1
RUNNER_CPUS=2
RUNNER_MEMORY=4g
